@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');


.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .modal {
    width: 95vw;
    height: 500px;
    background-color: #0B132B;
    border: 1px #5BC0BE solid;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .modal>main {
    flex-grow: 1;
  }
  
  .modal>footer {
    display: flex;
    justify-content: flex-end;
  }

  .botonmodal{
    color: #fff;
    background-color: transparent;
    border: none;
  }

  .inputsTimer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
  }
  .inputsTimer input{
    padding: 5px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #007bff;
    outline: none;
    transition: border-color 0.3s ease;
    color: #007bff;
  }
  
  .botonG{
    display: flex;
    justify-content: center;
  }

  .botonGuardar{
    margin-top: 43px;
    padding: 5px;
    border: 1px solid #007bff;
    border-radius: 5px;
    width: 100px;
    background-color: transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  